/* This file is for your main application css. */
@import "bootstrap";
body {
  font-size: 20pt;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
  font-weight: normal;
  overflow: scroll;
}

.im{
  background-image: url("/images/12.png");
  background-size: cover;
  width: 70rem;
  height: 55rem;
}

.game-item {
   color: blue;
}

.game-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.info {
  align: center;
}

#wait{
  color: red;
}

#num{
  padding: 5px;
  background-color: orange;
  border: 2px solid grey;
  box-shadow: 10px 5px 5px grey;
  font-weight: bold;
  color: white;
}

#num:hover{
  background-color: red;
  color: black;
}

#guess{
  background-color: powderblue;
  border: 2px solid grey;
  box-shadow: 10px 5px 5px grey;
  font-weight: bold;
}

.game{
  columns: 15;
}

.g-list{
  display: flex;
  flex-wrap: wrap;
}

li{
  padding: 5px;
  list-style-type: none;
}

#car1{
  width: 225px;
  height: 150px;
  position: absolute;
  right: 1px;
}

#car2{
  width: 225px;
  height: 150px;
  position: absolute;
  right: 1px;
}


.endline{
  background-color: white;
  width: 150px;
  height: 150px;
}

.flex-container{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.flex-container > #game-stuff {
  font-size: 30px;
}

.flex-container > #car-stuff {
  background-color: black;
  background-image: url("/images/road1.png");
  background-size: contain;
}

.bg{
  position: relative;
  background: black url("/images/road1.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: animate 7s linear infinite;
}

@keyframes animate {

  from{
    background-position: 0 0;
  }
  to{
    background-position: 50% 0;
  }

}

.disp{
  position: absolute;
  left: 50px;
  top: 80px;
}

.disp-table{
  position: absolute;
  left: 50px;
  top: 120px;
}

.disp-table1{
  position: absolute;
  left: 50px;
  top: 70px;
}

#car-stuff1 {
  background-color: black;
  background-image: url("/images/road1.png");
  background-size: contain;
}

.inline{
  float: left;
}

.inline1{
  float: right;
  position: absolute;
  right: 50px;
  top: 100px;
  font-size: 25px;
}

.inline2{
  float: right;
  position: absolute;
  right: 300px;
  top: 70px;
  font-size: 30px;
  font-weight: bold;
}

.views{
  float: left;
  position: absolute;
  left: 250px;
  top: 70px;
  font-size: 25px;
}

//Attribution: http://webtricksandtreats.com/table-style-css/

table.table-style-three {
		color: #333333;
		border-width: 1px;
		border-color: #85CAE0;
		border-collapse: collapse;
	}
	table.table-style-three th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #85CAE0;
		background-color: #33a6cc;
		color: #ffffff;
	}
	table.table-style-three tr:hover td {
		cursor: pointer;
	}
	table.table-style-three tr:nth-child(even) td{
		background-color: #C2E4F0;
	}
	table.table-style-three td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #85CAE0;
		background-color: #ffffff;
	}

  .btn{
    font-size: 25px;
    font-weight: bold;
  }

  //Attribution: https://bootstrapbay.com/blog/bootstrap-button-styles/

  .btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

#chat-box{
  padding: 0 0 0 5px;
  width:500px;
  height: 500px;
  border: 2px solid black;
  overflow: scroll;
}
